<div id="space">
    Filter:<mat-button-toggle-group [(ngModel)]="cakeName">
      <mat-button-toggle value="Cakes" class="btn" (click)="filterMethod()">Cakes</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group [(ngModel)]="cakeName">
      <mat-button-toggle value="Cookies" class="btn" (click)="filterMethod()">Cookies</mat-button-toggle>
      </mat-button-toggle-group>

    <mat-button-toggle-group [(ngModel)]="cakeName">
      <mat-button-toggle value="Brownies" class="btn" (click)="filterMethod()"> Brownies</mat-button-toggle>
      </mat-button-toggle-group>
  </div>